<div class="front-page">
  <span id="apptitle">Tukio.me</span>
  <% if current_user %>
    Welcome <%= current_user.name %>!
    <%= link_to "Sign Out", signout_path %>
  <% else %>
    <div id="signin-text">
      <span id="login_link" href="/auth/facebook" data-role="button" data-theme="b" data-inline="true">Sign In with Facebook</span>
    </div>
  <% end %>
</div>
