<div class="side-left">
  <div class="title">Tukio.me</div>
  <div class="about-tukio">I am a description</div>
  <div class="navigation" id="nav">
    <div class="item circle1">
      <img src="assets/promo/bg_user.png" alt="" width="199" height="199" class="circle"> <a href="#" class="icon"></a>
      <h2>User</h2>
      <ul>
        <li>
          <a href="#" data-img="" >Login with Facebook</a>
        </li>
        <li>
          <a href="#" data-img="">Invite friends</a>
        </li>
        <li>
          <a href="#">Make an Event</a>
        </li>
      </ul>
    </div>
    <div class="item circle2">
      <img src="assets/promo/bg_circle2.png" alt="" width="199" height="199" class="circle"> <a href="#" class="icon"></a>
      <h2>
        Todo List
      </h2>
      <ul>
        <li>
          <a href="#">Shared todos</a>
        </li>
        <li>
          <a href="#">Friends can add and update</a>
        </li>
      </ul>
    </div>
    <div class="item circle3">
      <img src="assets/promo/bg_shop.png" alt="" width="199" height="199" class="circle"> <a href="#" class="icon"></a>
      <h2>
        Twitter
      </h2>
      <ul>
        <li>
          <a href="#">Add hashtags</a>
        </li>
        <li>
          <a href="#">See feed anytime</a>
        </li>
      </ul>
    </div>
    <div class="item circle4">
      <img src="assets/promo/bg_camera.png" alt="" width="199" height="199" class="circle"> <a href="#" class="icon"></a>
      <h2>
        Photos
      </h2>
      <ul>
        <li>
          <a href="#">Specify Url</a>
        </li>
        <li>
          <a href="#">Reads feed</a>
        </li>
      </ul>
    </div>
    <div class="item circle5">
      <img src="assets/promo/bg_fav.png" alt="" width="199" height="199" class="circle"> <a href="#" class="icon"></a>
      <h2>
        Geolocation
      </h2>
      <ul>
        <li>
          <a href="#">Specify Destination</a>
        </li>
        <li>
          <a href="#">See who all reached</a>
        </li>
      </ul>
    </div>
    <div class="item circle6">
      <img src="assets/promo/bg_circle6.png" alt="" width="199" height="199" class="circle"> <a href="#" class="icon"></a>
      <h2>
        Team
      </h2>
      <ul>
        <li>
          <a href="#">Members</a>
        </li>
        <li>
          <a href="#">Photos</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="iphone_template">
  <span class="screenshots image_slider">
    <%= image_tag "template/1.PNG" %>
    <%= image_tag "template/2.PNG", :style => "display:none;" %>
    <%= image_tag "template/3.PNG", :style => "display:none;" %>
  </span>
</div>

<script>
$(function(){
  $('.image_slider img:gt(0)').hide();
  setInterval(function(){
    $('.image_slider :first-child').hide().next('img').
      fadeIn("slow").end().appendTo('.image_slider');
  }, 4000);
});
</script>