<ul>
  <%- @project.comments.each do |c| -%>
  <li data-corners="false" data-shadow="false" data-wrapperels="div" class="ui-corner-all ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-d">
    <div class="ui-btn-inner ui-li">
      <p><%= c.comment %></p>
    </div>
  </li>
  <%- end -%>
</ul>
