<ul data-role="listview" style="padding:0px;margin:1px">
  <%- @project.comments.each do |c| -%>
    <%- next unless c.persisted? %>
    <li>
      <h4><%= c.comment %></h4>
      <p><%= time_ago_in_words c.updated_at %></p>
      <p><strong><%= c.user.try(:name) %></strong></p>
    </li>
  <%- end -%>
</ul>
