<h3>
  Map
</h3>
<img class="google_maps" src="https://maps.googleapis.com/maps/api/staticmap?center=Madison, WI&amp;zoom=14&amp;size=288x200&amp;markers=Madison, WI&amp;sensor=false" width="288" height="200" />
<a data-role="button" data-direction="reverse" href="#page1" data-icon="check" data-iconpos="left">
  I am there
</a>