body.signin{
  .front-page {
  background: grey url('home.jpg') no-repeat center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  text-align:center;

#signin-text{
  margin: 20% auto;
  height: 140px;
}

#apptitle{
  font-family: 'Montez',cursive;
  color: white;
  font-size: 60px;
  margin-top: 50%;
  margin-left: 4%;
}
}

.ui-page {
    background: transparent;
}
.ui-content{
    background: transparent;
}

}
