body.signin{
  height : 100%;
  .front-page {
  background: grey url('home.jpeg') repeat center center;
  text-align:center;
  padding: 46px 0 0;

#signin-text{
  margin: 20% auto;
  height: 480px;
}

#apptitle{
  font-family: 'Montez',cursive;
  color: white;
  font-size: 60px;
  margin-top: 50%;
}
}

.ui-page {
    background: transparent;
}
.ui-content{
    background: transparent;
    padding: 0px;
}

}
