@import "_definitions";

body.application {
  div[data-role="page"] {
    background-color: $bk_color;
    .container {
      text-align: center;
      margin: 4px;
      background-color: #ccc;
      min-height: 480px;
      border-radius: $radius;
      -webkit-border-radius: $radius;
      -moz-border-radius: $radius;
    }
    div[data-role="header"] {
      -webkit-border-top-left-radius: $radius;
      -webkit-border-top-right-radius: $radius;
      -moz-border-radius-topleft: $radius;
      -moz-border-radius-topright: $radius;
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
    }
    div[data-role="content"] {
      margin: 1% 1% auto;
      padding: 0px;
    }
    .checkboxes {
      width: 78%;
      margin: auto;
    }
    .ui-collapsible-content {
      background-color: $bk_color;  
    }
    .google_maps {
      border: 2px solid #272727;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;    
    }
    .project-show {
      .add-todos a {
        color: #eee;
        &:hover {text-decoration: none;}
        &:link {text-decoration: none;}
        &:visited {text-decoration: none;}
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
}
