@import "_definitions";

body {
  div[data-role="page"] {
    background-color: $bk_color;
    .container {
      text-align: center;
      margin: 4px;
      background-color: #ccc;
      min-height: 480px;
      border-radius: $radius;
      -webkit-border-radius: $radius;
      -moz-border-radius: $radius;
    }
    div[data-role="header"] {
      -webkit-border-top-left-radius: $radius;
      -webkit-border-top-right-radius: $radius;
      -moz-border-radius-topleft: $radius;
      -moz-border-radius-topright: $radius;
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
    }
    .checkboxes {
      width: 78%;
      margin: auto;
    }
    .ui-collapsible-content {
      background-color: $bk_color;  
    }
    .google_maps {
      border: 2px solid #272727;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;    
    }
  }
}
