<!DOCTYPE html>
<html>
<head>
  <title>R12Team323</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1>Cotton Mouth</h1>
    <%= yield %>
  </div>

</body>
</html>
